@import url('https://fonts.googleapis.com/css?family=Monda|Orbitron|Poiret+One|Ranga:400,700');

*{

    background-color: #bce9f2;
    font-family: 'Monda', sans-serif;
}

h1{

    font-family: 'Orbitron', sans-serif;
    font-size: 30pt;
    color: #e5164a;
}

.list{

    padding: 50px 40px
}
